.total_1{
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #aaaaaa;
        padding: 1rem;
}
.total_1 img{
    margin-top: 3rem;
}
.total_2{
    /* text-align: center; */
    margin-top: 4rem;
    
}
.all{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 5rem;
    margin-top: 3rem;

}
.all .p1 , .all .p2 ,.all .p3 ,.all .p4{
    border: 1px solid transparent;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 1rem;
    padding: 1.5rem;
    /* display: block; */
    color: gray;
    font-weight: bold;
}


.private{
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.private .p3 , .private .p4 {
    width: 50%;
}


@media  screen and (max-width: 740px) {
    .total{
        /* flex-wrap: wrap; */
        flex-direction: column;
        width: 100%;
    }
    .total_1{
        width: 100%;
        height: 1005;
    }
    .total_1 img{
        width: 100%;
        padding: 2rem;
    }
    .all div{
        /* margin-top: 1.5rem; */
    }
    .p2{
        margin-top: -10px;
    }
    .all{
        
        margin-left: 0rem;
    
    }
    .private{
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    .total_1 img{
        margin-top: 0rem;
    }
    .total_2{
        /* text-align: center; */
        margin-top: 0rem;
        
    }
  }